.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainHeader {
  height: 20vh;
  background-color: yellow;
  font-size: 3em;
  text-align: center;
  align-content: center;
}

.mainFooter{
  height: 10vh;
  background-color: black;
  color: white;
  font-size: 1.2em;
  align-content: center;
  margin-top: 10vh;
}

.menuSection {
  display: flex;
  margin-left: 10vw;
  flex-wrap: wrap;
  font-size: 1.5em;
}
.menuSection > div {
  margin: 30px;
  width: 450px;
  height: 500px;
}

.result {
  font-size: 1.5em;
}

.mainContent h1 {
  margin-top: 10vh;
}

.menuFrame {
  display: flex;
  margin-left: 10vw;
  flex-wrap: wrap;
  font-size: 1.5em;
}

.menuFrame > div {
  margin: 30px;
  width: 450px;
  height: 500px;
}
